/*
		_media.scss	
*/



@media only screen and (max-width: 1199px){
	html body{
		font-size: 15px;
	}


}











@media only screen and (max-width: 991px){
	html body{
		font-size: 14px;
	}
	h1,h2,h3,h4,h5, h6{
		transform: scale(0.6);
	}
	#header{
		position: absolute;
		text-align: center;
		left: initial;
		top: initial;
		.logo, .nav-menu{
			width: 100%;
			li{
				width: 100%;
			}
		}
	}
	.min-menu-modal{
		text-align: center;
		.header-content, .logo, .nav-menu li{
			float: initial;
			width: initial;
		}
		.nav-menu{
			li a{
				border: none;
			}
		}
	}
	.sec-main{
		text-align: center;
	}


	.lang{
		position: relative;
	}

	.objects-cat{
		top: 10px;
	}
	.img-circle{
		margin: auto;
	}
	[class*="padd-right"]{
		padding: initial;
	}

	.main-navbar{
		display: none;
	}
	.skin-1, .skin-2{
		display: block;
		height: 100%;
	}









	#footer{

		text-align: center;

	}



}









@media (max-width: 767px) {

	html body{
		font-size: 13px;
	}

	main{


		text-align: center;
		h1{
			&::before{
				left: 50%;
	    	margin-left: -25px;
			}
		}
		.about-short, .news-short{
			padding: 0;
		}
		.news-desc{
			margin-left: 5%;
			padding-right: 5%;
		}
		.desc{
			margin: 30px 0;
			padding-right: 15px;
			padding-left: 15px;
		}
		.btn-lnk{
			margin: auto;
			margin-top: 30px;
		}



	}


}








@media only screen and (max-width: 480px){
	html body{
		font-size: 12px;
	}

}

















// MIN-WIDTH


@media only screen and (min-width: 1440px){


}

@media (min-width: 768px) {

} 
@media (min-width: 992px) {
	 .menu-toggle {
    display: none;
  }
} 