/*
		_main.scss	
*/

/*
											--- Variables ---
*/

$color_1: #1b2b54;
$color_2: #ba5aaa;//Сирень
$color_3: #fcdbee;//СВЕТЛОРОЗОВЫЙ
$color_4: #e31f24;;//red
$font-family-1: "Verdana";
$font-family-2: "";
$font-family-3: "";
$color_footer: #1b2b54;


$color_gray_1: darken(#f8f8f8, 0%);
$color_gray_2: darken(#b3b3b3, 0%);
$color_gray_3: darken(#afafaf, 0%);

$color_black_1: #262626;

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}
@mixin modal-center($width, $height) {
	width: $width;
   height: $height;
   margin-left: -+($width/2);
   margin-top: -+($height/2);
  left: 50%;
	top: 50%;
}

@mixin img-circle($width, $height, $mwidth: 120%) {
	.img-circle{
		position: relative;
		overflow: hidden;
		img{
			max-width: $mwidth;
		}
		width: $width;
		height: $height;
	}
}

@mixin inline-ble($width, $mwidth ) {
	figure{	
		width: $width;
		margin-right: $mwidth;
	}
}
@mixin table-celling($height, $padding: 15px) {

	display: table-cell;
	height: $height;
	padding-left: $padding;
	padding-right: $padding;
	vertical-align: middle;

}

/*
									 --- HTML ---
*/

[class*="col"]{
	padding-left: 0;
	padding-right: 0;
}
.container-mpadd{
	@extend .container;
	padding-left: 0;
	padding-right: 0;
}
 /* clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
 		clip-path: url("#clip-shape"); */

//Scrolling

::-webkit-scrollbar{
	width:13px;
}
 ::-webkit-scrollbar-thumb{
 	//border-radius: 5px;
 	z-index: 500;
	background-color: lighten($color_gray_3, 5%);
}
::-webkit-scrollbar-thumb:hover{
	background-color: darken($color_gray_3, 5%);
} 
::-webkit-scrollbar-thumb:active{
	background-color: darken($color_gray_3, 10%);
}
::-webkit-scrollbar-track-piece{
	background-color: white;
}
// OPERA
::-o-scrollbar{
	width:12px;
}
::-o-scrollbar-thumb{
	z-index: 500;
	//border-radius: 5px;
	background-color: lighten($color_gray_3, 5%);
}
::-o-scrollbar-thumb:hover{
	background-color: darken($color_gray_3, 5%);
} 
::-o-scrollbar-thumb:active{
	background-color: darken($color_gray_3, 10%);
}
::-o-scrollbar-track-piece{
	background-color: rgba(white, 0.5);
}

html{
	-ms-scrollbar-track-color: rgba(0, 0, 0, 0);
	-ms-scrollbar-face-color: $color_gray_3;
	-ms-scrollbar-shadow-color: $color_gray_3;
	-ms-scrollbar-base-color: lighten($color_gray_3, 5%);

	-ms-scroll-translation: vertical-to-horizontal;
	-ms-scroll-snap-type: mandatory;
	-ms-scrollbar-3dlight-color: $color_gray_3;
	-ms-scrollbar-darkshadow-color: darken($color_gray_3, 5%);
	-ms-scrollbar-highlight-color: transparent;

	overflow-y: scroll !important;
}

body{
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
	font: 14px $font-family-1;
	color: #f1f1f1;
	background: $color_black_1;
	position: relative;
	background-color: $color_gray_1;
}


p, li, ul, menu{
	font-weight: 300;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
menuitem{
	display: inline-block;
}
a{
	transition: color 0.2s ease-in-out;
	color: white;
}
a:hover, a:active, a:focus{
	text-decoration: none;
	outline: none;
}
button:hover, button:active, button:focus{
	outline: 0;
}
button{
	outline: 0;
}
p{
	margin: auto;
}
img{
	max-width: 100%;
	outline: 0;
}
h1,h2,h3,h4,h5{
	font-family: $font-family-1;
	color: inherit;
	line-height: 160%;
}
h4{
	font-size: em(14, 16);
}
h3{
	font-size: em(18, 16);
}
h2{
	font-size: em(24, 16);
}
h1{
	font-size: em(36, 16);

}

ul{
	position: relative;
	list-style: none;
	&:hover{
		cursor: default;
	}
}
input:focus, button:focus{
	outline: transparent;
}
b{
	font-weight: 600;
}
strong{
	font-weight: 700;
}
button:hover, button:focus{
	cursor: pointer;
}




.bg-cover{
	position: relative;
	opacity: 1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.color-white{
	color: white;
}
.color-black{
	color: black;
}


.color-1{
	color: $color_1;
}
.color-2{
	color: $color_2;
}
.color-3{
	color: $color_3;
}
.color-4{
	color: $color_4;
}



.bg-color-white{
	background-color: white;
}
.bg-color-black{
	background-color: #333;
}

.bg-color-1{
	background-color: $color_1;
}
.bg-color-2{
	background-color: $color_2;
}
.bg-color-3{
	background-color: $color_3;
}
.bg-color-4{
	background-color: $color_4;
}




.claf{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.btn{
	&:focus, &:active{
		outline: none;
	}
}
.btn-res{
	background: transparent;
	border: 0;
	padding: 0;
}
.btn-anima{
	position: relative;
	transition:all 0.2s ease-in-out; 
	&::before{
		z-index: -1;
		@extend .claf;
		width: 100%;
		height: 100%;
		//background-color: black;
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		transition:all 0.2s ease-in-out; 
		transform: scale(0);
		visibility: hidden;
	}
	&:hover{
		//border: 1px solid red;
		transform: scale(1.05);
		a{
			//color: white;
			//font-weight: 500;
		}
	}
	&:hover::before{
		z-index: -1;
		@extend .claf;
		width: 100%;
		height: 100%;
		left: 0;
		bottom: 0;
		right: 0;
		transform: scale(1);
		box-shadow: 0 0 25px -5px black;
		visibility: visible;
		background-color: rgba(0, 0, 0, 0.5);
	}
}
.btn-one{
	@extend .btn-res;
	display: inline-block;
	//position: relative;
	a{
		border: 2px solid $color_gray_1;
		display: block;
		color: white;
		padding: 20px 40px;
		&:hover{
			border: 2px solid $color_2;
		}
	}
}

[class*="inlineble"]{
	max-width: 100%;
	text-align: center;
 *{
		text-align: initial;
	}
	figure{
		
		display: inline-block;
		display: inline-table;
		text-align: center;
	}
	.img-content, .desc.align-center{
		
		&, *{
			text-align: center;
		}
	}
	font{
		margin-top: 5px;
		color: #888;
		display: block;
		font-weight: 300;
		font-size: em(15, 16);
	}
}
.inlineble-2{
	@include inline-ble(90/2+%, 2+%);
}

.inlineble-3{
	@include inline-ble(96/3+%, 10/20+%);
}

.inlineble-4{
	@include inline-ble(96/4+%, 10/20+%);
}

.inlineble-5{
	@include inline-ble(96/5+%, 10/20+%);
}

.inlineble-6{
	@include inline-ble(96/6+%, 1+%);
}

.inlineble-7{
	@include inline-ble(96/7+%, 10/20+%);
}

.inlineble-7{
	@include inline-ble(96/8+%, 10/20+%);
}


@media only screen and ( max-width: 991px ){

	.inlineble-5{
		@include inline-ble(96/3+%, 3+%);
	}


}

@media only screen and ( max-width: 787px ){

	.inlineble-2{
		@include inline-ble(100/2+%, 0);
	}
}




img{
	vertical-align: middle;
  border: 0;
}




/*
										 --- HEADER ---
*/
#header{
	//width: 30%;	
	position: fixed;
	left: 45px;
	top: 30px;
	z-index: 50;
}
.lang{
	right: 0;
	position: absolute;
	padding: 35px 0;
	a{
		font-size: 10px;
		font-weight: 600;
		color: white;
		opacity: 0.6;
		margin-left: 10px;
		text-transform: uppercase;
		transition: all 0.3s ease-in-out;
		&:hover, &.active{
			opacity: 1;
		}
	}
}
.header-content{
	float: left;
}
.logo, .nav-menu{
	 float: left;
}
.logo{
  padding: 10px 0;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 193px;
  img{
  	max-width: initial;
  }

}
.nav-menu{
	width: 100%;
	padding: 45px 0;
	&:hover{
		li.active{
			a{
				border-color: transparent !important;
			}
		}
	}
	li{
		//white-space: nowrap;
		width: 75%;
		//display: inline-block;
		&.active{
			a{
				border-color: $color_gray_2;
				&:hover{
					border-color: $color_gray_2 !important;
				}
			}
		}
	}
	a{
		transition: all 0.3s ease-in-out;
		color: #f1f1f1;
    padding: 10px 18px;
    text-transform: uppercase;
    border: 2px solid transparent;
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    letter-spacing: .05em;
    &:hover{
			border-color: $color_gray_2;
    }


	}
}


.min-header-button{
	position: fixed;
	z-index: 50;
	right: 0;
	//top: 50px;
	//left: 50px;
}
.modal-backdrop.in {
    opacity: 1;
 }
.menu-toggle{
	@extend .btn-res;
	position: relative;
	//background-color: lighten($color_black_1, 5%);
  float: left;
	padding: 30px 30px 20px 20px;
/*   padding: 40px 40px 120px 150px;
 	clip-path: polygon(0 0%, 0 0, 100% 0, 100% 100%); */
 	margin-left: -15px;
  &:focus {
  	outline: 0;
  	//transform: scale(1.15);
  }

}
.menu-toggle:not(.collapsed){
	.icon-bar{
   	&:nth-child(1){
   		transform: rotate(138deg) translate(6px, -5px);
   	}
   	&:nth-child(2){
   		transform: rotate(180deg) translate(0, -16px);
   		
   	}
   	&:nth-child(3){
   		transform: rotate(-138deg) translate(7px, 7px);
   	}

	}
}
.icon-bar{
	transition: all 0.3s ease-in-out;
	background-color: #ffffff;
  display: block;
  width: 60px;
  height: 5px;
  border-radius: 5px;
  & + .icon-bar {
  	margin-top: 5px;
  }
	&:nth-child(1){
		//transition: all 0.4s cubic-bezier(0.30, -2, 1, -2);
	}
	&:nth-child(2){
		transform: scaleX(1);
		//transition: all 0.5s cubic-bezier(0.30, 0, 0, -1);
	}
	&:nth-child(3){
		//transition: all 0.3s cubic-bezier(0.30, -2, 1, -1);
	}


}

// MODAL
.modal-dialog{

	//width: 100%;

  // /margin: 20px 30px !important;
	.btn{
    padding-right: 80px;
    padding-top: 30px;
		background-color: transparent;
		position: relative;
		float: right;
		display: block;
		color: white;
		width: 60px;
		height: 50px;
		right: -1px;
    top: -1px;
    //border-radius: 0 5px;
  	&:focus{
  		outline: none !important;
			//border: 2px solid white;
		}

	}

	.icon-bar{
		background-color: white;

   	&:nth-child(1){
   		transform: rotate(138deg) translate(4px, -2px);
   	}
   	&:nth-child(2){
   		transform: rotate(-138deg) translate(4px, 2px);
   		
   	}

	}
}
.modal-content{
	background: rgba(black, 0.5);

}
.modal-body{
	margin-top: 50px;
}
.modal-footer{

}
.success-info{
	color: white;
	font-size: 1.2em;
	text-align: center;
}
#success-message{
	color: lawngreen;
}
#fail-message{
	color: red;
}
//MINI MENU
.min-menu-modal{

	.menu-toggle{
		margin-right: 10px;
	}
	.menu-list{
		text-align: center;
		li{
			width: 100%;
			background-color: rgba($color_3, 0.5);
	    border-radius: 5px;
	    margin-bottom: 15px;
	    transition: transform 0.3s ease-in-out;
	    &:focus, &:hover, &:active{
		  	transform: scale(1.1); 
		  }
		}
		a{
	    color: white;
	    font-size: 1.3em;
			display: block;
			padding: 10px ;
			&:focus{
				border: 2px solid white;
			}
		}
	}
}
.feedback{

	form{
		width: 90%;
		color: white;
		margin: auto;
		margin-bottom: 15px;
	}
	label{
		font-weight: 400;
	}
	.form-control{
		&:focus{
			border-color: white;
    	outline: 0;
    	box-shadow: inset 0 1px 8px 0px rgba(white, 0.1), 0 0 20px 2px rgba(white, 0.7);
		}
	}
	input{
		width: 80%;
	}
	textarea{
		margin-top: 30px;
		resize: none;
		height: 120px;
	}
	.modal-content{
		@include modal-center(350px, -10%);

	}
	.modal-body{
		padding: 0 30px;
	}

}
.modal-body{

}
.modal-footer{
	border: 0;
}
.nav-menu.min{
	display: initial;
}


/*
										 --- CONTENT ---
*/
h1{
	position: relative;
	font-weight: 600;
	font-size: em(60, 16);
	padding-bottom: 10px;
	&.center{
		text-align: center;
	}
  &.center:before{
  	left: 50%;
  }
}
h2{
	font-size: em(24, 16);
	margin-top: 50px;
}
h3{
	font-size: em(24, 16);
	margin: 0;
	margin-bottom: 17px;
}
h4{
	font-size: em(18, 16);
}
h1, h2, h3, h4, h5, h6{
	text-transform: uppercase;
}
h1, h2, h3{
	margin-top: 10px;
	margin-bottom: 10px;
	letter-spacing: 0.05em;
	font-weight: 700;
}
h4, h5, h6{
	font-weight: 600;
}

h6{
	font-size: em(14, 16);
}
p, li{
	font-size: em(16, 16);
	font-weight: 400;
}

main{
	overflow: hidden;
	position: relative;
	li{
		margin: 15px 0;
	}
}




.bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: black;
	em{
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -20px 20px 20px black;
    height: 50px;
    z-index: 50;
	}
	img{
		position: relative;
		width: 100%;
    height: auto;
    opacity: 1;
	}
	@media only screen and (max-width: 991px){
		& img{
			width: initial;
    	max-width: inherit;
    }
	}
}


.bg-shadow{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.55;
}




.loading-cover{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  //background-color: blue;
  text-align: center;
  z-index: 1200;
  &.in{
  	.black-div{
  		
  	}
  	span{
  		opacity: 0;
  	}
  	.black-div{
  		margin-right: -600%;
  	}
  }
  &.out{
  	.black-div{
  		
  	}
  	 span{
  		opacity: 0;
  		transition: all 0.15s ease-out;
  	}
  	.black-div{
			margin-right: 150%;
  	}
  }
  &:before{
  	content: '';
    width: 0;
    height: 100%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
  }
  //transition: margin 2s cubic-bezier(0.55, 0.06, 0.68, 0.19);
  .black-div{
  	transition: margin 0.7s ease-in-out;
  	width: 3500px;
    height: 3500px;
    margin: -1740px -1740px 0 0;
    right: 50%;
    top: 50%;
    background-color: black;
    transform: rotate(45deg);
    position: absolute;
  }
  span{
  	transition: opacity 0.3s ease-in 0.3s;
  	opacity: 1;
  	font-size: 6vw;
  	position: relative;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #f1f1f1;
    min-width: 280px;
    min-height: 130px;
    width: 99%;
    display: inline-block;
/*   	
    
    //background: url(/img/overlay-logo.png) 50% 50% no-repeat;
 */
  }
}




section{
	
	
}

.custom-border-1{
	border: 2px solid $color_gray_2;
	padding: 30px 35px;
}

.section-content{
	padding-top: 150px;
	padding-bottom: 150px;
  float: right;
  width: 100%;
  position: relative;
  h1{
  	font-weight: 700;
  	text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  h2{
  	font-weight: 700;
		text-transform: uppercase;
		margin-top: 50px;
		letter-spacing: 0.05em;
  }
  a{
  	display: block;
  	&:hover{
  		color: inherit;
  	}
  }
}


.section-nav-menu{
	text-align: center;
	padding-bottom: 50px;
	
	ul{
		position: relative;
    display: inline-block;
    padding-bottom: 30px;
    border-bottom:1px solid $color_gray_1;
	}
	li{
		display: inline-block;
		&.active{
			a{
				color: $color_gray_2;
			}
		}
	}
	a{
		letter-spacing: 0.05em;
    font-weight: 600;
    text-transform: uppercase;
		padding: 10px 15px;

		&:hover{
			color: $color_gray_3;
		}
	}
}








// TAB
.eq-tab-nav{
	text-align: center;
	li{
		width: 96/3+%;
		//transition: all 0.3s ease-in-out;
		display: inline-block;
    font-size:  em(15, 16);
    text-transform: uppercase;
    color: #fff;
    //border-bottom: 5px solid transparent;
	}
	a{
		position: relative;
		padding-bottom: 30px;
		color: inherit;
		&:hover{
			color: inherit;
		}
	}
  li.active{
  	border-color: white;
		color: $color_gray_3;
    cursor: default;
	  &:before{
			transform: scaleX(1);
			visibility: visible;
		}
  }
	.active{
		position: relative;
		//transition: all 0.5s ease-in-out;
		&:before{
			content: ""; 
	    width: 100%;
	    height: 2px;
	    background-color: $color_gray_3;
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    right: 0;
	   	transition: all 0.35s ease-in-out 1s;
	    transform: scaleX(0);
	    visibility: hidden;
		}
	}
		

}
.tab-content{
	padding: 30px 0;
	P{
		margin: 10px 0;
	}
}




//-----------------КОНТАКТЫ
.contacts{
	.address, .phone, .email{
		float: left;
		padding:0 10px;
		width: 96/3+%;
	}
}
//-----------------КОМПАНИЯ
.company{

}

//----------------СТРУКТУРА
.structure{

}
.structure-content{


	li{
    list-style: none;
    width: 50%;
    padding: 30px 0 0;
    float: left;
    text-transform: uppercase;
		&:before{
			content: '';
	    width: 44px;
	    height: 29px;
	    margin: 0 11px 0 60px;
	    background: url(../img/structure.png);
	    display: inline-block;
	    vertical-align: middle;
		}
	}
	span{
		display: inline-block;
    vertical-align: middle;
    width: 50%;
	}
	li.icon-2:before{
		width: 18px;
    height: 32px;
    background-position: -50px 0;
    margin: 0 25px 0 72px;
	}
	li.icon-3:before{
    width: 28px;
    height: 29px;
    background-position: 0 -50px;
    margin: 0 21px 0 66px;
	}
	li.icon-4:before{
    width: 40px;
    height: 14px;
    background-position: -50px -50px;
    margin: 0 15px 0 60px;
	}
	li.icon-5:before{
    width: 18px;
    height: 36px;
    background-position: 0 -100px;
    margin: 0 27px 0 70px;
	}
	
	li.icon-6:before{
			width: 22px;
			height: 22px;
			background-position: -50px -100px;
			margin: 0 21px 0 72px;
		}

	li.icon-7:before{
			width: 25px;
			height: 9px;
			background-position: 0 -150px;
			margin: 0 22px 0 68px;
	}
}


//----------------ПАРТНЁРЫ

.partners{

	figure{
		img{
			transition: all 0.3s ease-in-out;
			&:hover{
				opacity: 0.7;
			}
		}
	}

}
.recommendation{
	ul li{
		margin: 20px 0;
	}
}
.files-list{
	a{
		font-size: 1.1em;
		font-weight: 500;
		letter-spacing: 0.05em;
		&:hover{
			&:before{
				opacity: 1;
				transform: matrix(1, 0, 0, 1, -2, 6);
			}
		}
	}
	.pdf-document{
		&:before{
			@extend .fa;
			@extend .fa-file-pdf-o;
			position: relative;
			transition: all 0.3s ease-in-out;
			font-size: 2em;
			opacity: 0;
		}
	}
}

//---------------ДОКУМЕНТЫ
.documents-list{
	a{
		&:hover{
			&:before{
				opacity: 1;
				    transform: matrix(1, 0, 0, 1, -30, 3) scaleX(1);
			}
		}
	}
	.pdf-document{
		&:before{
			@extend .fa;
			@extend .fa-search-plus;
			transform: matrix(1, 0, 0, 1, -10, 3) scaleX(0);
			position: absolute;
			transition: all 0.3s ease-in-out;
			font-size: 2.2em;
			opacity: 0;
		}
	}
}

//---------------СПЕЦИАЛИЗАЦИЯ
.spacialization{

}
//---------------ТЕХНОЛОГИИ
.technologies{

	figure{
		transition: all 0.2s cubic-bezier(0.55, 0.09, 0.68, 0.53);
		&:hover{
			opacity: 0.8;
		}
	}

}

//---------------ТЕХНОЛОГИИ СТР
.technologies-in{

	.technologies-carousel{
		
		.flickity-prev-next-button{
			background-color: transparent;
			margin-top: -15px;
			.arrow{
				fill: white;
			}
			&.previous{
				left: -45px;
			}

			&.next{
				right: -45px;
			}


		}
		.flickity-viewport{
			//width: %;
			margin: auto;
		}
		.carousel-content{
			//width: 100%;
			height: 180px;
			position: relative;
		}
	}
	.technologies-item{
		position: relative;
		text-align: center;
		width: 150px;
		height: 100%;
		margin: 0 5px;
		img{
			transform: scale(0.6) matrix(1, 0, 0, 1, 0, 10);
			transition: all 0.15s ease-in;
			position: relative;
			width: 89px;
			height: 96px;
		}
		h4,h5,h6{
			padding-bottom: 10px;
		}
		&.is-selected, &:hover{
			//color: $color_gray_3;
			opacity: 0.8;
			img{
				transform: scale(1) matrix(1, 0, 0, 1, 0, 0);
			}
		}
		&.active{
			 h4,h5,h6{
			 	border-bottom: 2px dashed;
			 }
		}
		.img-content{
			width: 100px;
			margin: auto;
		}
	}

}
//---------------ОБЪЕКТЫ

.objects{

}
.object-item{
	//@extend .col-md-offset-4;
	border-bottom: 2px solid $color_black_1;
	filter: grayscale(1);
	transition: all 0.3s ease-in-out;
	padding: 45px 0;
	position: relative;
	h3, h4, h5{
		margin: 0;
	}
	&:hover{
		filter: grayscale(0);
	}
}
.content-object{
	//margin-top: 45px;
	//margin-bottom: 45px;
	z-index: 2;
	position: relative;
	width: 50%;
}
@media only screen and (max-width: 991px){
	.object-item{
		margin: 0 -15px;
	}
	.content-object{
	 width: 100%;
	}
}
.object-shadow{
	background-color: black;
	height: 100%;
	opacity: 0.5;
	position: absolute;
	width: 100%;
	top: 0;
}
.top-panel{
	z-index: 20;
	background-color: $color_black_1;
	width: 100%;
	position: fixed;
	margin-left: -15px;

	.celling{
		@include table-celling(160px);
		padding-left: 60%;

	}
	@media only screen and (max-width: 991px){
		.celling{
			@include table-celling(90px);
			padding-left: 10%;

		}
	}
}
.top-panel-content{
	
	&>div{
		display: inline-block	;
	}

}
objects-search{

}
.objects-search{
	.form-control{
		box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $color_2;
	}
	input{
		border: 0;
		background-color: transparent;
		border-bottom: 2px solid;
		border-bottom: transparent;
		color: white;
		&:focus{
			border-color: red;
		}
	}
}
.objects-cat{
	padding: 10px;
	top: 50px;
	position: absolute;
	&.in{

	}
	.cat-header{
		width: 230px;
		border-bottom: 2px solid;
		h5{
			display: inline-block;
			width: 90%;
		}
		&:hover{
			cursor: pointer;
			&~ul{
				li{
					visibility: visible;
					display: block ;
					opacity: 1;
					transform: matrix(1, 0, 0, 1, 0, 0);
				}
			}

		}

	}

	ul, i{
		display: inline-block;
		vertical-align: middle;
		position: relative;
	}
	i{
		vertical-align: top;
		font-size: em(25, 16);
		margin-top: 10px;
		margin-left: -20px;
		z-index: 10;
	}
	ul {
		visibility: hidden;
   	&:hover{
			cursor: pointer;
			
				li{
					visibility: visible;
					display: block ;
					//transition: visible 0.5s ease-in-out;
					opacity: 1;
					transform: matrix(1, 0, 0, 1, 0, 0);
				}
			

		}
		li{
			background-color: $color_black_1;
			margin: 0;
			//visibility: hidden;
			transition: all 0.5s ease-in-out;
			position: relative;
			a{
				display: block;
				padding: 10px 30px;
				padding-left: 30px;
			}
			&:last-child{
				a{
					padding-bottom: 25px;
				}
			}
		}
		.active{
			opacity: 1;
			border-bottom: 2px solid;
		}

		li{
			//display: none;
			visibility: hidden;
			//transition: all 0.3s ease-in-out;
			font-weight: 500;
			transform: matrix(1, 0, 0, 1, 0, -10);
			text-decoration: uppercase;
			&.active{
				font-weight: 800;
			}
			a{
				transition: all 0.3s ease-in;
				&:hover{
					transform: matrix(1, 0, 0, 1, 10, 0);
				}
			}
		}
	}

}














// -------------------- OTHER


.fullscreen-container {
	width:100%;
	position:relative;
	padding:0;
}
.banner{
	width:100%;
	position:relative;
}
.tp-bannertimer{
	display: none;
}
tp-bgimg defaultimg{
	    width: 200% !important;
}

.skin-shadow{
	position: absolute;
	width: 100%;
	height: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	z-index: 30;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
}
.tp-caption{
	position: relative;
	z-index: 35;
	width: 50%;
}
.rev-slider{
	position: relative;
	//position:absolute;
/* 	[class*="btn"]{
		padding: 15px 20px;
	} */
 *{
		color: white;
	}
	h1{
		position: relative;
		font-weight: bold;
		font-size: em(30, 16);
		letter-spacing:0.1em;
    padding-right: 50px;
		
	}
	h2{
		white-space: normal;
		font-weight: 300;
		font-size: em(28, 16);
		display: inline-block;
		line-height: 110% !important;
	}
	p{
		padding-right: 25px;
		font-size: em(20, 16) ;
		//padding: 0 25%;
		line-height: 20px;
	}
	.btn-one{
		margin: 30px 0;
	}
	//ЗАГРУЗЧИК
	.tp-loader{
		display: none;
	}
	.tp-caption{
		position: absolute;
		white-space: normal;
		a{
			color: white;
			&:hover{
				color: white;
			}
		}

	}


	@media only screen and (max-width: 767px){


	}
}////



.round{
	
	margin-left: -80px !important;
	.bullet{
		margin-left: 15px !important;
		opacity: 0.4 !important;
		margin-right: 15px !important;
		&.selected{
			opacity: 1 !important;			
		}
	}
}





//LISTING

.list-style-1{

	ul{
		padding-left: 30px;
		margin-top: 15px;
		li{
			font-size: 1em;
			list-style: none;
			line-height: 170%;
			list-style-position: outside;
			position: relative;
			&:before{
				@extend .claf;
				height: 100%;
				//margin-top: 5px;
				margin-left: -35px;
				font-size: 1.8em;
				font-weight: 900;
			}
			@for $i from 0 through 20 {
				&:nth-child( #{$i} ):before { 
					content: ""+$i;
				}
			}

		}
	}

}
.list-style-2{

	ul{
		padding-left: 15px;
		margin-top: 15px;
		li{
			font-size: 1em;
			list-style: disc;
			line-height: 170%;
			list-style-position: outside;
		}
	}

}


.yt-video{
	@include table-celling(425px);
	position: relative;
	.video{
		width: 330px;
    height: 230px;
    position: relative;
    margin: auto;
	}
	iframe{
		width: 100%;
		    height: inherit;
  	
	}
	@media only screen and (max-width: 1199px){
		.video{
			//width: 300px;
		}
	}
	@media only screen and (max-width: 991px){
		display: block;
		width: 100%;
    height: 100%;
    margin: 45px 0;
	}
}














.yt-video{

}



.fancybox{
	  
	  &:focus{
	  	outline: none;
	  }
}








.map-content{
	position: relative;
}
#map{
	display: block;
	height: 595px;
	color: #06599f;
	position: relative;
}
.map-block{
	position: absolute;
	z-index: 1;
	top: 50%;
	margin-top: -195px;
	margin-left: 30px;
	width: 350px;
	padding: 15px 30px;
	padding-bottom: 15px;
	h4{
		margin-bottom: 0;
	}
	p{
		font-size: em(16, 16);
		line-height: 140%;
		&:last-child{
			margin-bottom: 15px;
		}
	}
	
}
@media only screen and( max-width: 911px ){
	.map-block{
		position: relative;
		margin: 15px 0 60px 0!important;
		width: 100%;
	}
}


/*
										 --- FOOTER ---
*/


#footer{
	position: absolute;
	left: 60px;
	bottom: 20px;
	z-index: 50;

}

.footer-copyright{
	margin: 0;
  position: absolute;
  left: 20px;
  bottom: 50px;
  color: #9c9c9c;
  white-space: nowrap;
}
/*
										 --- OTHER ---
*/






@import "_media.scss"; //------ 	END 	------------------------